@page "/"

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="RoadCurvatureApprox">Road Curvature Approximation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Structure From Motion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Disabled</a>
    </li>
</ul>

<h1>Theory!</h1>

Welcome to your new app.


